---
title:   "QML Applications to HEP Data Analysis"
layout:  splash
header:
  overlay_filter: rgba(0,255,255,0.15)
  overlay_image: /assets/images/banner.jpg
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Classification of the top mass measurement channel $t\\bar{t}H(b\\bar{b})$ versus the dominant $t\\bar{t}b\\bar{b}$ background."

intro:
  - excerpt: 'Quantum Machine Learning methods are applied to the $t\\bar{t}H(b\\bar{b})$ classification task. The main background of this process, $t\\bar{t}b\\bar{b}$ is highly similar to the signal; thus, the classification and segregation of signal from background is hard. Nevertheless, a better classification can lead to a more precise and accurate determination of the top quark Yukawa coupling, which motivates alternative approaches such as the one investigated in this study. Moreover, the already existing abundance of classical results and sheer difficulty of this classification problem also enable the testing and comparison of classical and quantum methods, with the possibility of another empirical proof for quantum supremacy.'

feature_row:
    - image_path: /assets/images/norm.png
      alt: "Data Normalization"
      title: "Data Normalization"
      url: "norm/"
      excerpt: "Determination of which normalization is optimal for the simulated data (67 features)."
      btn_label: "Read More"
      btn_class: "btn--info"
    - image_path: /assets/images/ae.png
      alt: "Auto-Encoder"
      title: "Hybrid Autoencoder"
      url: "hybridae/"
      excerpt: "A hybrid autoencoder was used to reduce the number of features for NISQ devices."
      btn_label: "Read More"
      btn_class: "btn--info"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
